<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="about.component.css" />
    <title>O nama</title>
  </head>
  <body>
    <div class="background-image"></div>

    <div class="about-us">
      <div class="content">
        <h1>O nama</h1>
        <p>
          Aplikacija <b>MovieTime Moments</b> namenjena je pružanju pomoći
          korisniku koji želi da pregleda podatke u okviru poslovanja različitih
          bioskopa. Pruža mogućnost uvida u sve bioskope, kao i njihove adrese.
          Zatim, vodi se evidencija o kapacitetu sala u navedenim bioskopima.
          Prikazuju se i trenutno dostupni filmovi, sa svim neophodnim
          informacijama. Za svaki film, moguće je izvršiti uvid u rezervacije
          kreirane za isti. Za rezervacije se beleži datum, kao i film i sala u
          kojoj se isti održava.
        </p>
      </div>
      <div class="cinema-offer">
        <h2>Naša ponuda bioskopa</h2>
        <div class="cinema-items">
          <div class="cinema-item">
            <a href="images\arena.png" data-title="Arena Cineplexx"
              ><img src="images\arena.png"
            /></a>
            <h3>Arena Cineplex</h3>
            <p>Bulevar Mihajla Pupina 3, Novi Sad</p>
          </div>
          <div class="cinema-item">
            <a href="promenada.png" data-title="Promenada Cineplexx"
              ><img src="promenada.png"
            /></a>
            <h3>Cineplexx Promenada</h3>
            <p>Bulevar oslobođenja 119, Novi Sad</p>
          </div>
          <div class="cinema-item">
            <a href="cinestar.png" data-title="Big Cinestar"
              ><img src="cinestar.png"
            /></a>
            <h3>Cinestar Big</h3>
            <p>Sentandrejski put 11, Novi Sad</p>
          </div>
          <div class="cinema-item">
            <a href="kulturniCentar.png" data-title="Kulturni Centar"
              ><img src="kulturniCentar.png"
            /></a>
            <h3>Kulturni centar</h3>
            <p>Katolička porta 5, Novi Sad</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
