body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.about-us {
  position: relative;
  text-align: center;
  color: #fff;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("C:\Users\Lenovo\Documents\workspace-spring-tool-suite-4-4.19.1.RELEASE\rva_IT34_2020\repository\IT-34-2020-FrontEnd\images\background.png");
  background-size: cover;
  filter: brightness(0.6);
  z-index: -1;
}

.content {
  padding: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cinema-offer {
  text-align: center;
}

.cinema-offer h2 {
  font-size: 28px;
}

.cinema-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cinema-item {
  width: 200px;
  margin: 20px;
}

.cinema-item img {
  width: 200px;
  height: 200px;
  border: 2px;
  border-radius: 8px;
}

.cinema-item h3 {
  font-size: 18px;
  margin: 10px 0;
}

.cinema-item p {
  font-size: 14px;
}
