<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="home.component.css" />
    <script defer src="home.component.js"></script>
    <title>Početna</title>
  </head>
  <body>
    <div class="about-us">
      <div class="background-image"></div>
      <div class="content">
        <h1>MovieTime Moments</h1>
        <p>Pogledajte dostupne informacije o filmovima:</p>
        <br />
        <button onclick="window.location.href = '/film';">Klikni ovde</button>
      </div>
    </div>
  </body>
</html>
